<div class="blog-post-wrapper">
  <div class="container">
    <button type="button" class="btn btn-primary" [routerLink]="['/login']">
      Google Authentication
    </button>

    <div class="editor-wrapper">
      <form [formGroup]="blogForm">
        <!-- <h2>{{ this.blogForm.getRawValue() | json }}</h2> -->
        <div class="form-group">
          <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
          <ngx-editor
            [height]="'300px'"
            [editor]="editor"
            [ngModel]="html"
            [disabled]="false"
            formControlName="content"
            [placeholder]="'Type here...'"
          ></ngx-editor>
        </div>
        <button class="btn btn-success" type="submit" (click)="onPost()">
          Post
        </button>
      </form>
    </div>

    <button class="btn btn-primary" [routerLink]="['/blog/list']">
      View All Blogs
    </button>
  </div>
</div>
